

.foot{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    height: 40px;
    border-top:3px solid black;
    align-items: center;
    z-index: 5;
}
.foot-content{
    font-size: 10px;
    margin-left:20px;
}
.foot i{
    margin-right:15px;
}